.chat-group-form
  %h1 チャットグループ編集
  = form_for @group do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :group_name, "グループ名",class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, class: "group_name"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :group_name, "チャットメンバーを追加",class: "chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          = f.text_field :name, class: "chat-group-form__input",id: "user-search-field",value: "", placeholder: "追加したいメンバー名を入力してください",type:  "text"
        .js-user-seaerch-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :group_name, "チャットメンバー",class: "chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-users.js-add-user
          - @users.each do |user|
            .chat-group-user.clearfix.js-chat-member{id: "chat-group-user-#{user.id}"}
              %input{name: "group[user_ids][]",type: "hidden",value: "#{user.id}"}
              %p.chat-group-user__name
                = user.name
              %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn{"data-id": "#{user.id}","data-name": "#{user.name}"} 削除
              %input{type: "hidden",name: "group[user_ids][]", value: "#{user.id}"}
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit :name, value: "更新する", class: "chat-group-form__action-btn"
