%header
.contents
  //ひだりのバー
  .div
    .slidebar
      .slidebar__top
        .slidebar__top__content
          %h3.name
            = current_user.name
          %ul.fa
            = fa_icon("edit")
            = fa_icon("cog")
      .slidebar__middle__content
        - if @groups.present?
          -# = render {:partial => "groups/group",:collection => @groups}
          = render "group", local:{groups: @groups}
      .slidebar__bottom__content

  .main__contents
    .main__contents__header
      .main__contents__header__edit
        %h1.s1 edit
      .main__contents__header__top-group
        %p.p3 Sampleグループ
      .main__contents__header__top-member
        MEMBER
        %i.i4 Onodera Yuudai
    .main__contents__second
    = render 'messages/messages'
    .main__contents__third
    .main__contents__footer
      .main__contents__footer__form
        .main__contents__footer-body
          -# = form_for @message,url: group_message_index_path(id: @groups.ids) do |f|
          -#   = f.text_field :body,class: "form__message"
          -#   %i.fa
          -#     = fa_icon("file-picture-o")
          -#   = f.submit :name, value: "SEND", class: "form__submit"
